@media only screen and (max-width: 768px) {
    .headBox {
        display: none;
    }
    .bannerStyle .carousel-item img {
        height: auto;
    }
    .titleStyle h2 {
        font-size: 1.857em;
    }
    .titleStyle h2:before {
        font-size: 0.8em;
    }
    .fBox {
        padding: 0;
    }
    .sBox h4 {
        font-size: 1.857em;
    }
}